@use 'projects/common/src/lib/themes' as *;

@include nb-install-component() {
  font-family: "Open Sans Light", sans-serif;
  padding: 1rem;

  h1 {
    font-size: 27px;
    color: nb-theme(color-heading);
  }

  h6 {
    font-size: 20px;
    line-height: 2rem;
    color: #ffffff;
  }


  .unavailable-page {
    background: nb-theme(background-basic-color-1);
  }

  .unavailable-page-content {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, .64), rgba(255, 255, 255, .64)), url('/assets/zenthoralogo/triangles.png');

  }

  .logo-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    padding: 100px 60px 60px;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
  }

  .zenthora-logo {
    max-width: 100%;
  }

  .zenthora-online-header {
    margin-left: auto;
    font-family: "Open Sans Light", sans-serif;
    font-weight: bold;
    color: #009a49;
    font-size: 5rem;
  }

  .content-container {
    max-width: 600px;

    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    background: rgba(0, 128, 55, 0.81);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex-direction: column;

  }


  .button-container {
    color: #ffffff;

    button {
      background-color: #e87313;
      color: #ffffff;
      font-size: 15px;
      border-radius: 20px;
      border: #e87313;
      font-weight: bold;

      nb-icon {
        color: #ffffff;
        font-weight: bold;
      }
    }

    button:hover {
      background-color: color-mix(in srgb, #e87313, white 5%)
    }

  }

}
