<div class="d-flex flex-row align-content-center">
  <div class="d-flex flex-row zenthora-logo">
    <div class="pr-5">
      <img *ngIf="companyLogo" [src]="companyLogo" alt="company-logo">
    </div>

    <div class="d-flex title-container align-items-center">
      <span>{{title}}</span>
    </div>
  </div>
  <div *ngIf="currentDataService.isLoggedIn()" class="ml-auto d-flex flex-row">
    <div [nbSpinnerMessage]="''" [nbSpinner]="changingCompany" nbSpinnerStatus="success">
      <select #selectCompany (ngModelChange)="changeCompany($event)" *ngIf="showCompanySelect"
              [ngModel]="companyRole" class="mt-1 form-control qbo-form-control">
        <option *ngFor="let c of companyRolesWithCustomerPortalEnabled" [ngValue]="c">
          {{c.name}}
        </option>
      </select>
    </div>

    <div class="d-flex flex-column pl-2">
      <span class="py-1 clickable" (click)="onShowPersonalInfoPage()">{{customer.email}}</span>
      <span (click)="onLogout()" class="py-1 clickable">LOG OUT</span>
    </div>
  </div>
</div>
