<div class="modal-header">
    <h4 class="modal-title">{{Labels.ChangePasswordTitle}}</h4>
    <button (click)="activeModal.dismiss('Cross clicked')" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="saveAndClose()" [formGroup]="getForm()" novalidate>
        <div class="form-group">
            <input [hidden]="true" autocomplete="username" type="text">
            <app-extended-input [labelText]="Labels.OldPassword"
                                [verticalMode]="true">
                <input [maxlength]="PASSWORD_MAX_LENGTH" [placeholder]="Labels.OldPassword"
                       autocomplete="current-password" class="form-control qbo-form-control"
                       formControlErrorMessage
                       formControlName="oldPassword"
                       type="password">
            </app-extended-input>

          <app-extended-input [labelText]="Labels.NewPassword" [verticalMode]="true">
            <div
              class="text-hint pb-2"><i>{{Labels.PasswordHint(PASSWORD_MIN_LENGTH, PASSWORD_MAX_LENGTH)}}</i></div>

            <app-password-field [formControl]="_newPassword"
                                [placeholder]="Labels.NewPassword" formControlErrorMessage></app-password-field>
          </app-extended-input>

            <app-extended-input [labelText]="Labels.ConfirmNewPassword" [verticalMode]="true">
                <input [formControl]="_confirmNewPassword" [maxlength]="PASSWORD_MAX_LENGTH"
                       [placeholder]="Labels.ConfirmNewPassword" autocomplete="new-password"
                       class="form-control qbo-form-control"
                       formControlErrorMessage
                       type="password">
            </app-extended-input>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="submit()" [disabled]="!isSubmitEnabled()" [nbSpinner]="submitLocked"
            class="btn btn-sm btn-rectangle btn-primary" nbSpinnerMessage="" nbSpinnerSize="xsmall"
            nbSpinnerStatus="success">
        <nb-icon icon="checkmark-outline"></nb-icon>
        {{Labels.Submit}}
    </button>
    <button type="button" (click)="activeModal.dismiss('Cancel clicked')" class="btn btn-sm btn-rectangle btn-danger">
        <nb-icon icon="minus-outline"></nb-icon>
        {{Labels.Cancel}}
    </button>
</div>
