:root {

  --default-theme-color1: #339b45;
  --theme-color1: var(--default-theme-color1);
  --default-theme-color2: #94c73c;
  --theme-color2: var(--default-theme-color2);
  --default-theme-color3: #f89939;
  --theme-color3: var(--default-theme-color3);
  --default-theme-color4: #1999ce;
  --theme-color4: var(--default-theme-color4);
  --default-theme-color5: #f7ed38;
  --theme-color5: var(--default-theme-color5);
  --default-theme-background-color: #ffffff;
  --theme-background-color: var(--default-theme-background-color);
  --default-theme-font-color: #222b45;
  --theme-font-color: var(--default-theme-font-color);
  --default-theme-font-color-2: #ffffff;
  --theme-font-color-2: var(--default-theme-font-color-2);
  --default-theme-border-color: #dddddd;
  --theme-border-color: var(--default-theme-border-color);
}
