<div class="email-page">
  <div class="email-page-content">
    <div class="logo-container">
      <img alt="logo" class="zenthora-logo" src="../../../../../assets/zenthoralogo/logo.png">
    </div>
    <div class="content-container">
      <div class="d-flex flex-column w-100">
        <div class="d-flex justify-content-center">
          <h3>Password Management</h3>
        </div>
        <div class="d-flex justify-content-center">
          <h6 class="text-hint">Please change your password</h6>
        </div>

        <div class="mx-auto col-md-8 col-sm-12">
          <div class="d-flex mb-3">
            <span class="password-hint">The password must be 12-20 characters long, contain upper and lower case and special characters</span>
          </div>
          <ng-container *ngIf="getForm()">
            <form (ngSubmit)="saveAndClose()" [formGroup]="getForm()">
              <div class="form-group">
                <input [hidden]="true" autocomplete="username" type="text">
                <app-extended-input [errorDefs]="{required: { template: errorService.validationService.REQUIRED, params: ['New Password']},
                                      server: {}}" [hasError]="isFieldNotValid('newPassword')"
                                    [inputErrors]="getControls().newPassword.errors" [verticalMode]="true">
                  <app-password-field [formControl]="getControls().newPassword"
                                      [placeholder]="'New Password'"></app-password-field>
                </app-extended-input>
              </div>
              <div class="form-group">
                <app-extended-input [errorDefs]="{required: { template: errorService.validationService.REQUIRED, params: ['Confirm New Password']},
                                      mustBeTheSame: { template: errorService.validationService.MUST_BE_THE_SAME('New Password')},
                                      minlength: { template: errorService.validationService.MINLENGTH(MIN_LENGTH)},
                                      maxlength: { template: errorService.validationService.MAXLENGTH(MAX_LENGTH)},
                                      server: {}}" [hasError]="isFieldNotValid('confirmNewPassword')"
                                    [inputErrors]="getControls().confirmNewPassword.errors" [verticalMode]="true">
                  <input [formControl]="getControls().confirmNewPassword"
                         [maxlength]="MAX_LENGTH"
                         autocomplete="new-password"
                         class="form-control qbo-form-control mb-1" placeholder="Confirm New Password"
                         type="password">
                </app-extended-input>
              </div>
              <div class="form-group">
                <app-extended-input [errorDefs]="{required: { template: errorService.validationService.REQUIRED, params: ['Secret Key']},
                         maxlength: { template: errorService.validationService.MAXLENGTH(100)},
                                      server: {}}" [hasError]="isFieldNotValid('secretKey')"
                                    [inputErrors]="getControls().secretKey.errors" [verticalMode]="true">
                  <input [formControl]="getControls().secretKey" [maxLength]="100"
                         [placeholder]="'Secret Key'"
                         class="form-control qbo-form-control"/>
                </app-extended-input>
              </div>

              <div class="d-flex justify-content-center button-container">
                <button [disabled]="!isSubmitEnabled()" [nbSpinner]="submitLocked" class="btn btn-sm" nbSpinnerMessage=""
                        nbSpinnerSize="xsmall" nbSpinnerStatus="success" type="submit">
                  <nb-icon icon="checkmark-outline"></nb-icon>
                  Change
                </button>
              </div>
            </form>
          </ng-container>
        </div>
        <app-recaptcha-terms *ngIf="settingsProvider.isRecaptchaEnabled()" [light]="true"
                             class="mt-4"></app-recaptcha-terms>
      </div>

    </div>
  </div>
</div>
