@use "projects/common/src/lib/themes" as *;

@include nb-install-component() {
  ::ng-deep * {
    font-size: 15px;

    .val-message {
      color: #ffffff;
      font-style: italic;
      font-size: 14px;
    }

    ::placeholder {
      font-family: "Open Sans Light", sans-serif;
      font-size: 15px;
    }
  }

  .email-page {
    background: nb-theme(background-basic-color-1);
  }

  .email-page-content {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, .64), rgba(255, 255, 255, .64)), url('/assets/zenthoralogo/triangles.png');
  }

  .logo-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    padding: 100px 60px 60px;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
  }

  .zenthora-logo {
    max-width: 100%;
  }

  .zenthora-online-header {
    margin-left: auto;
    font-family: "Open Sans Light", sans-serif;
    font-weight: bold;
    color: #009a49;
    font-size: 5rem;
  }

  .content-container {
    max-width: 600px;

    padding: 50px 50px 50px 50px;
    border-radius: 20px;

    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    background: rgba(0, 128, 55, 0.81);
  }

  h3 {
    font-size: 20px;
    color: #ffffff;
  }

  h6 {
    color: #ffffff;
  }

  h6.text-hint {
    font-style: italic;
  }

  .button-container {
    color: #ffffff;

    button {
      background-color: #e87313;
      color: #ffffff;
      border-radius: 20px;
      border: #e87313;
      font-weight: bold;
      font-size: 15px;

      nb-icon {
        color: #ffffff;
        font-weight: bold;
      }
    }

    button:hover {
      background-color: color-mix(in srgb, #e87313, white 5%)
    }
  }

  input, select {
    border: none;
  }

  .password-hint {
    color: #ffffff;
    font-style: italic;
  }
}
