<form (ngSubmit)="submit()" [formGroup]="getForm()" [nbSpinner]="loading" novalidate>
  <nb-card>
    <nb-card-header>
      <div class="d-flex flex-row">
        <div class="d-flex flex-row flex-grow-1">
          <div class="mr-auto align-self-center sticky-left">
            <ng-container *ngTemplateOutlet="submitButtons"></ng-container>
          </div>
        </div>
        <div class="d-flex flex-row header-label">
          <div class="ml-auto sticky-right"><span *ngIf="isCreateMode">{{ Labels.CreatePlatform }}</span><span
            *ngIf="!isCreateMode">{{ Labels.EditPlatform }}</span></div>
        </div>
      </div>
    </nb-card-header>

    <nb-card-body>
      <div class="d-flex flex-row no-gutters py-2">
        <div class="col-md-6">
          <app-extended-input [labelText]="Labels.PlatformName"
                              [required]=true
                              [verticalMode]=true>
            <input [formControl]="_name" [placeholder]="Labels.PlatformName" class="form-control qbo-form-control"
                   formControlErrorMessage
                   type="text"/>
          </app-extended-input>
        </div>
      </div>
      <div class="d-flex flex-row">
        <label class="checkbox-container">
          <input [formControl]="_trusted" formControlErrorMessage type="checkbox">
          <span class="checkmark"></span>
          <span class="checkbox-descr">{{ Labels.TrustedPlatform }}</span>
        </label>
      </div>
      <div class="d-flex flex-row">
        <label class="checkbox-container">
          <input [formControl]="_epsCheckout" formControlErrorMessage type="checkbox">
          <span class="checkmark"></span>
          <span class="checkbox-descr">{{ Labels.UseEpsCheckout }}</span>
        </label>
      </div>
      <hr/>
      <div *ngIf="getControls().epsCheckout.value" class="d-flex flex-row py-2">
        <label class="checkbox-container">
          <input [formControl]="_customerRegistrationOnCheckoutPageEnabled" formControlErrorMessage
                 type="checkbox">
          <span class="checkmark"></span>
          <span [innerText]="Labels.CustomerRegistrationOnCheckout"
                class="checkbox-descr"></span>
        </label>
      </div>
      <div class="d-flex flex-row py-2">
        <app-extended-input [labelText]="Labels.SendgridSettings" [required]="true"
                            [verticalMode]=true>
          <select [formControl]="_sendgridSettingsId" class="form-control qbo-form-control"
                  formControlErrorMessage>
            <option *ngIf="_sendgridSettingsId.value == null" [ngValue]="null">{{ Labels.Select }}</option>
            <option *ngFor="let option of sendgridSettingsValues" [ngValue]="option.id">
              {{ option.name }}
            </option>
          </select>
        </app-extended-input>
      </div>
      <div class="d-flex flex-row">
        <label class="checkbox-container">
          <input [formControl]="_emailSale" formControlErrorMessage type="checkbox">
          <span class="checkmark"></span>
          <span class="checkbox-descr">{{ Labels.EmailSales }}</span>
        </label>
      </div>
      <div class="d-flex flex-row">
        <label class="checkbox-container">
          <input [formControl]="_emailReceipt" formControlErrorMessage type="checkbox">
          <span class="checkmark"></span>
          <span class="checkbox-descr">{{ Labels.EmailReceipt }}</span>
        </label>
      </div>
      <hr/>
      <app-extended-input [labelText]="Labels.Branding" [required]="true"
                          [verticalMode]=true>
        <select [formControl]="_brandingId" class="form-control qbo-form-control"
                formControlErrorMessage>
          <option *ngIf="_brandingId.value == null" [ngValue]="null">{{ Labels.Select }}</option>
          <option *ngFor="let option of brandingValues" [ngValue]="option.id">
            {{ option.name }}
          </option>
        </select>
        <ng-container *ngIf="isDefined(branding)">
          <div class="d-flex flex-column pt-4">
            <div class="d-flex flex-row pt-4">
              <div class="d-flex flex-column pr-4">
                <label>{{ Labels.CompanyPortalUrl }}</label>
                <span>{{ branding.companyPortalUrl }}</span>
              </div>
              <div class="d-flex flex-column pr-4">
                <label>{{ Labels.CustomerPortalUrl }}</label>
                <span>{{ branding.customerPortalUrl }}</span>
              </div>
              <div class="d-flex flex-column pr-4">
                <label>{{ Labels.PaymentFormsUrl }}</label>
                <span>{{ branding.paymentFormsUrl }}</span>
              </div>
              <div class="d-flex flex-column">
                <label>{{ Labels.ProductName }}</label>
                <span>{{ branding.productName }}</span>
              </div>
            </div>
            <div class="d-flex flex-row pt-4">
              <div class="d-flex flex-column pr-4">
                <label>{{ Labels.SaleFrom }}</label>
                <span>{{ branding.saleFrom }}</span>
              </div>
              <div class="d-flex flex-column pr-4">
                <label>{{ Labels.ReceiptFrom }}</label>
                <span>{{ branding.receiptFrom }}</span>
              </div>
              <div class="d-flex flex-column">
                <label>{{ Labels.EmailFrom }}</label>
                <span>{{ branding.emailFrom }}</span>
              </div>
            </div>
            <div class="d-flex flex-row pt-4">
              <div class="d-flex flex-column">
                <label>{{ Labels.SignatureFormatted }}</label>
                <span [innerHTML]="branding.signatureFormatted"></span>
              </div>
            </div>
            <div class="d-flex flex-row pt-4">
              <div class="d-flex flex-column pr-4">
                <label>{{ Labels.SupportPhone }}</label>
                <span>{{ branding.supportPhone }}</span>
              </div>
              <div class="d-flex flex-column">
                <label>{{ Labels.SupportEmail }}</label>
                <span>{{ branding.supportEmail }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </app-extended-input>
      <hr/>
      <div class="d-flex flex-row no-gutters">
        <div class="col-md-3">
          <app-extended-input [labelText]="Labels.VaultProductId"
                              [required]=true
                              [verticalMode]=true>
            <input [formControl]="_vaultProductId" [placeholder]="Labels.VaultProductId"
                   [textMask]="{mask: MASK.DIGITS, guide: false}"
                   class="form-control qbo-form-control ng-trim-ignore"
                   formControlErrorMessage
                   type="text"/>
          </app-extended-input>
        </div>
      </div>
      <div *ngIf="getControls().trusted.value" class="d-flex flex-column no-gutters pb-2">
        <app-extended-input [labelText]="Labels.VaultPaymentRequestsTypeOnCheckoutPage" [required]="true"
                            [verticalMode]=true>
          <select [formControl]="_vaultPaymentRequestTypesOnCheckoutPage" class="form-control qbo-form-control"
                  formControlErrorMessage>
            <option *ngFor="let option of enumKeys(VaultPaymentRequestTypeEnum)" [ngValue]="option">
              {{ VaultPaymentRequestTypeEnumValue.get(option) }}
            </option>
          </select>
        </app-extended-input>
      </div>
      <div class="d-flex flex-column no-gutters">
        <label class="checkbox-container">
          <input [formControl]="_customerPortalFeatureEnabled" formControlErrorMessage type="checkbox">
          <span class="checkmark"></span>
          <span class="checkbox-descr">{{ Labels.CustomerPortalFeature }}</span>
        </label>
        <div *ngIf="_customerPortalFeatureEnabled.value" class="d-flex flex-row">
          <app-extended-input [labelContainerClass]="'row col-md-2'">
            <div class="form-check">
              <div *ngFor="let option of enumKeys(VaultFeatureAvailabilityEnum)" class="rd">
                <input [formControl]="_customerPortalFeatureAvailability" [value]="option" formControlErrorMessage
                       type="radio"
                       name="customerPortalFeatureAvailability"/>
                <label [for]="option" class="mb-1">{{ VaultFeatureAvailabilityEnumValue.get(option) }}</label>
              </div>
            </div>
          </app-extended-input>
          <div
            *ngIf="_customerPortalFeatureAvailability.value == VaultFeatureAvailabilityEnum.REQUIRES_VAULT_FEATURE_NAME"
            class="mt-auto ml-2">
            <app-extended-input [verticalMode]=true>
              <input [formControl]="_customerPortalFeatureName" [placeholder]="Labels.VaultFeatureName"
                     class="form-control qbo-form-control"
                     formControlErrorMessage
                     type="text"/>
            </app-extended-input>
          </div>
        </div>
        <label class="checkbox-container">
          <input [formControl]="_emailPaymentsFeatureEnabled" formControlErrorMessage type="checkbox">
          <span class="checkmark"></span>
          <span class="checkbox-descr">{{ Labels.EmailPaymentsFeature }}</span>
        </label>
        <div *ngIf="_emailPaymentsFeatureEnabled.value" class="d-flex flex-row">
          <app-extended-input [labelContainerClass]="'row col-md-2'">
            <div class="form-check">
              <div *ngFor="let option of enumKeys(VaultFeatureAvailabilityEnum)" class="rd">
                <input [formControl]="_emailPaymentsFeatureAvailability" [value]="option" formControlErrorMessage
                       type="radio"
                       name="emailPaymentsFeatureAvailability"/>
                <label [for]="option" class="mb-1">{{ VaultFeatureAvailabilityEnumValue.get(option) }}</label>
              </div>
            </div>
          </app-extended-input>
          <div
            *ngIf="getControls().emailPaymentsFeatureAvailability.value  == VaultFeatureAvailabilityEnum.REQUIRES_VAULT_FEATURE_NAME"
            class="mt-auto mb-2 ml-2">
            <app-extended-input [verticalMode]=true>
              <input [formControl]="_emailPaymentsFeatureName" [placeholder]="Labels.VaultFeatureName"
                     class="form-control qbo-form-control"
                     formControlErrorMessage
                     type="text"/>
            </app-extended-input>
          </div>
        </div>
        <label class="checkbox-container">
          <input [formControl]="_surchargesFeatureEnabled" formControlErrorMessage type="checkbox">
          <span class="checkmark"></span>
          <span class="checkbox-descr">{{ Labels.SurchargesFeature }}</span>
        </label>
      <div *ngIf="_surchargesFeatureEnabled.value" class="d-flex flex-row">
        <app-extended-input [labelContainerClass]="'row col-md-2'">
          <div class="form-check">
            <div *ngFor="let option of enumKeys(VaultFeatureAvailabilityEnum)" class="rd">
              <input [formControl]="_surchargesFeatureAvailability" [value]="option" formControlErrorMessage
                     type="radio"
                     name="surchargesFeatureAvailability"/>
              <label [for]="option" class="mb-1">{{ VaultFeatureAvailabilityEnumValue.get(option) }}</label>
            </div>
          </div>
        </app-extended-input>
        <div
          *ngIf="_surchargesFeatureAvailability.value == VaultFeatureAvailabilityEnum.REQUIRES_VAULT_FEATURE_NAME"
          class="mt-auto ml-2">
          <app-extended-input [verticalMode]=true>
            <input [formControl]="_surchargesFeatureName" [placeholder]="Labels.VaultFeatureName"
                   class="form-control qbo-form-control"
                   formControlErrorMessage
                   type="text"/>
          </app-extended-input>
        </div>
      </div>
        <label class="checkbox-container">
          <input [formControl]="_paymentFormsFeatureEnabled" formControlErrorMessage type="checkbox">
          <span class="checkmark"></span>
          <span class="checkbox-descr">{{ Labels.PaymentFormsFeature }}</span>
        </label>
        <div *ngIf="_paymentFormsFeatureEnabled.value" class="d-flex flex-column">
          <div class="d-flex flex-row">
            <app-extended-input [labelContainerClass]="'row col-md-2'">
              <div class="form-check">
                <div *ngFor="let option of enumKeys(VaultFeatureAvailabilityEnum)" class="rd">
                  <input [formControl]="_paymentFormsFeatureAvailability" [value]="option" formControlErrorMessage
                         type="radio"
                         name="paymentFormsFeatureAvailability"/>
                  <label [for]="option" class="mb-1">{{ VaultFeatureAvailabilityEnumValue.get(option) }}</label>
                </div>
              </div>
            </app-extended-input>
          <div
            *ngIf="getControls().paymentFormsFeatureAvailability.value  == VaultFeatureAvailabilityEnum.REQUIRES_VAULT_FEATURE_NAME"
            class="mt-auto mb-2 ml-2">
            <app-extended-input [verticalMode]=true>
              <input [formControl]="_paymentFormsFeatureName" [placeholder]="Labels.VaultFeatureName"
                       class="form-control qbo-form-control"
                       formControlErrorMessage
                       type="text"/>
              </app-extended-input>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="d-flex flex-row py-2">

        <app-extended-input [labelText]="Labels.WebhookAuthType"
                            [verticalMode]=true>
          <select [formControl]="_webhookAuthType" class="form-control qbo-form-control" formControlErrorMessage>
            <option [ngValue]="null">{{ Labels.Select }}</option>
            <option *ngFor="let option of enumKeys(WebhookAuthTypeEnum)" [ngValue]="option">
              {{ WebhookAuthTypeEnumValue.get(option) }}
            </option>
          </select>
        </app-extended-input>
      </div>
      <ng-container *ngIf="isDefined(_webhookAuthType.value)">
        <div class="d-flex flex-row">
          <label class="checkbox-container">
            <input [formControl]="_webhookBypassDnsCache" type="checkbox">
            <span class="checkmark"></span>
            <span class="checkbox-descr">{{ Labels.WebhookBypassDnsCache }}</span>
          </label>
        </div>
      </ng-container>
      <ng-container *ngIf="isDefined(_webhookAuthType.value)">
        <div class="d-flex flex-row py-2">
          <app-extended-input [labelText]="Labels.WebhookAttemptsNumber"
                              [verticalMode]=true>
            <select [formControl]="_webhookAttemptsNumber" class="form-control qbo-form-control"
                    formControlErrorMessage>
              <option *ngFor="let n of WEBHOOK_ATTEMPTS_NUMBER" [ngValue]="n">
                {{ Labels.WebhookAttemptsNumberValues[n - 1] }}
              </option>
            </select>
          </app-extended-input>
        </div>
      </ng-container>
      <div *ngIf="showWebhookOAuth10Settings" [formGroup]="_webhookOAuth10Group" class="d-flex flex-column py-2">
        <div class="form-group row">
          <div class="col-md-6">
            <app-extended-input [labelText]="Labels.OAuth10WebhookUrl" [required]=true [verticalMode]=true>
              <input [maxlength]="MAX_LENGTH.OAUTH_10_WEBHOOK_URL" [placeholder]="Labels.OAuth10WebhookUrl"
                     class="form-control qbo-form-control" formControlErrorMessage formControlName="webhookUrl"
                     type="text">
            </app-extended-input>
          </div>
          <div class="d-flex align-self-end pb-1" *ngIf="isEditMode">
            <button (click)="testWebhookConfiguration();" [disabled]="testWebhookConfigurationLocked"
                    [nbSpinner]="isTestWebhookConfigurationInProgress"
                    class="btn btn-sm btn-rectangle btn-warning" type="button">
              <nb-icon icon="sync-outline"></nb-icon>
              {{ Labels.TestWebhook }}
            </button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <app-extended-input [labelText]="Labels.OAuth10SignatureMethod" [required]=true [verticalMode]=true>
              <select class="form-control qbo-form-control" formControlErrorMessage formControlName="signatureMethod">
                <option [ngValue]="null">{{ Labels.Select }}</option>
                <option *ngFor="let option of enumKeys(OAuth10SignatureMethodEnum)" [ngValue]="option">
                  {{ OAuth10SignatureMethodEnumValue.get(option) }}
                </option>
              </select>
            </app-extended-input>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <app-extended-input [labelText]="Labels.OAuth10ConsumerKey" [required]=true [verticalMode]=true>
              <input [maxlength]="MAX_LENGTH.OAUTH_10_CONSUMER_KEY" [placeholder]="Labels.OAuth10ConsumerKey"
                     class="form-control qbo-form-control" formControlErrorMessage formControlName="consumerKey"
                     type="text">
            </app-extended-input>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <app-extended-input [labelText]="Labels.OAuth10ConsumerSecret" [required]=true [verticalMode]=true>
              <input [maxlength]="MAX_LENGTH.OAUTH_10_CONSUMER_SECRET" [placeholder]="Labels.OAuth10ConsumerSecret"
                     class="form-control qbo-form-control" formControlErrorMessage formControlName="consumerSecret"
                     type="text">
            </app-extended-input>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <app-extended-input [labelText]="Labels.OAuth10AccessToken" [required]=true [verticalMode]=true>
              <input [maxlength]="MAX_LENGTH.OAUTH_10_ACCESS_TOKEN" [placeholder]="Labels.OAuth10AccessToken"
                     class="form-control qbo-form-control" formControlErrorMessage formControlName="accessToken"
                     type="text">
            </app-extended-input>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <app-extended-input [labelText]="Labels.OAuth10TokenSecret" [required]=true [verticalMode]=true>
              <input [maxlength]="MAX_LENGTH.OAUTH_10_TOKEN_SECRET" [placeholder]="Labels.OAuth10TokenSecret"
                     class="form-control qbo-form-control" formControlErrorMessage formControlName="tokenSecret"
                     type="text">
            </app-extended-input>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <app-extended-input [labelText]="Labels.OAuth10Realm" [required]=false [verticalMode]=true>
              <input [maxlength]="MAX_LENGTH.OAUTH_10_REALM" [placeholder]="Labels.OAuth10Realm"
                     class="form-control qbo-form-control" formControlErrorMessage formControlName="realm"
                     type="text">
            </app-extended-input>
          </div>
        </div>
      </div>
      <div *ngIf="showWebhookHmacSha256Settings" [formGroup]="_webhookHmacSha256Group" class="d-flex flex-column py-2">
        <div class="form-group row">
          <div class="col-md-6">
            <app-extended-input [labelText]="Labels.HmacSha256WebhookUrl" [required]=true [verticalMode]=true>
              <input [maxlength]="MAX_LENGTH.HMAC_SHA256_WEBHOOK_URL" [placeholder]="Labels.HmacSha256WebhookUrl"
                     class="form-control qbo-form-control" formControlErrorMessage formControlName="webhookUrl"
                     type="text">
            </app-extended-input>
          </div>
          <div class="d-flex align-self-end pb-1" *ngIf="isEditMode">
            <button (click)="testWebhookConfiguration();" [disabled]="testWebhookConfigurationLocked"
                    [nbSpinner]="isTestWebhookConfigurationInProgress"
                    class="btn btn-sm btn-rectangle btn-warning" type="button">
              <nb-icon icon="sync-outline"></nb-icon>
              {{ Labels.TestWebhook }}
            </button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <app-extended-input [labelText]="Labels.HmacSha256Secret" [required]=true [verticalMode]=true>
              <input [maxlength]="MAX_LENGTH.HMAC_SHA256_SECRET" [placeholder]="Labels.HmacSha256Secret"
                     class="form-control qbo-form-control" formControlErrorMessage formControlName="secret"
                     type="text">
            </app-extended-input>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column py-2">
        <ng-container *ngIf="isDefined(_webhookAuthType.value)">
          <div class="d-flex flex-row">
            <label class="checkbox-container">
              <input [formControl]="_webhookSaleEventCheckAll" type="checkbox">
              <span class="checkmark"></span>
              <span class="checkbox-descr">{{ Labels.SaleWebhookEnabledEvents }}</span>
            </label>
          </div>
          <div [formArrayName]="'webhookSaleFormArray'" class="ml-5">
            <ng-container *ngFor="let _saleWebhookControl of _webhookSaleEventControls.controls; let i = index">
              <div class="d-flex flex-row">
                <label class="checkbox-container">
                  <input [formControl]="_saleWebhookControl" type="checkbox">
                  <span class="checkmark"></span>
                  <span [innerText]="getWebhookEventName(WebhookSaleEvents,i)" class="checkbox-descr"></span>
                </label>
              </div>
            </ng-container>
          </div>
          <div class="d-flex flex-row">
            <label class="checkbox-container">
              <input [formControl]="_webhookPaymentEventCheckAll" type="checkbox">
              <span class="checkmark"></span>
              <span class="checkbox-descr">{{ Labels.PaymentWebhookEnabledEvents }}</span>
            </label>
          </div>
          <div [formArrayName]="'webhookPaymentFormArray'" class="ml-5">
            <ng-container *ngFor="let _paymentWebhookControl of _webhookPaymentEventControls.controls; let i = index">
              <div class="d-flex flex-row">
                <label class="checkbox-container">
                  <input [formControl]="_paymentWebhookControl" type="checkbox">
                  <span class="checkmark"></span>
                  <span [innerText]="getWebhookEventName(WebhookPaymentEvents, i)" class="checkbox-descr"></span>
                </label>
              </div>
            </ng-container>
          </div>
          <div class="d-flex flex-row">
            <label class="checkbox-container">
              <input [formControl]="_webhookPaymentDataCheckAll" type="checkbox">
              <span class="checkmark"></span>
              <span class="checkbox-descr">{{ Labels.PaymentMethodWebhookEnabledEvents }}</span>
            </label>
          </div>
          <div [formArrayName]="'webhookPaymentDataFormArray'" class="ml-5">
            <ng-container
              *ngFor="let _paymentDataWebhookControl of _webhookPaymentDataEventControls.controls; let i = index">
              <div class="d-flex flex-row">
                <label class="checkbox-container">
                  <input [formControl]="_paymentDataWebhookControl" type="checkbox">
                  <span class="checkmark"></span>
                  <span [innerText]="getWebhookEventName(WebhookPaymentDataEvents, i)" class="checkbox-descr"></span>
                </label>
              </div>
            </ng-container>
          </div>
          <div class="d-flex flex-row">
            <label class="checkbox-container">
              <input [formControl]="_webhookCustomerCheckAll" type="checkbox">
              <span class="checkmark"></span>
              <span class="checkbox-descr">{{ Labels.CustomerWebhookEnabledEvents }}</span>
            </label>
          </div>
          <div [formArrayName]="'webhookCustomerFormArray'" class="ml-5">
            <ng-container *ngFor="let _customerWebhookControl of _webhookCustomerEventControls.controls; let i = index">
              <div class="d-flex flex-row">
                <label class="checkbox-container">
                  <input [formControl]="_customerWebhookControl" type="checkbox">
                  <span class="checkmark"></span>
                  <span [innerText]="getWebhookEventName(WebhookCustomerEvents, i)" class="checkbox-descr"></span>
                </label>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="showTemplates">
        <hr/>
        <h6>Sale Templates</h6>
        <div class="d-flex flex-row">
          <label class="checkbox-container">
            <input [formControl]="_customFieldsEnabled" formControlErrorMessage type="checkbox">
            <span class="checkmark"></span>
            <span class="checkbox-descr">{{ Labels.CustomFieldsEnable }}</span>
          </label>
        </div>
        <div class="d-flex flex-row">
          <label class="checkbox-container">
            <input [formControl]="_advancedFieldsEnabled" formControlErrorMessage type="checkbox">
            <span class="checkmark"></span>
            <span class="checkbox-descr">{{ Labels.AdvancedFieldsEnable }}</span>
          </label>
        </div>
        <hr/>
        <h6>Email Sale Template</h6>
        <app-invoice-email-payment-template #emailPaymentTemplate></app-invoice-email-payment-template>
        <hr/>
        <h6>Receipt Template</h6>
        <app-receipt-template-editor #receiptTemplateEditor [companyInfo]="companyInfo"></app-receipt-template-editor>
      </ng-container>

      <ng-container *ngIf="showToken">
        <hr/>
        <label class="col-form-label">{{ Labels.RefreshToken }}</label>
        <span (click)="copyRefreshToken()" (keyup.enter)="copyRefreshToken()" class="refresh-token d-block"
              id="refresh-token" role="button" tabindex="0">
          <nb-icon class="copy-icon" icon="copy-outline"></nb-icon>
          {{ platform.refreshToken }}
        </span>
      </ng-container>
    </nb-card-body>
    <nb-card-footer>
      <ng-container *ngTemplateOutlet="submitButtons"></ng-container>
    </nb-card-footer>

  </nb-card>
</form>

<ng-template #submitButtons>
  <div class="d-flex">
    <div *ngIf="generateTokenEnabled" class="px-2">
      <button (click)="onGenerateToken()" [nbSpinner]="submitLocked"
              class="btn btn-sm btn-rectangle btn-success" nbSpinnerMessage=""
              nbSpinnerStatus="success"
              type="button">
        <nb-icon icon="flash-outline"></nb-icon>
        {{ Labels.GenerateApiToken }}
      </button>
    </div>
    <div *ngIf="isCreateMode || isEditMode" class="px-2">
      <button [disabled]="!isSubmitEnabled()" [nbSpinner]="submitLocked"
              class="btn btn-sm btn-rectangle btn-primary" nbSpinnerMessage=""
              nbSpinnerStatus="success"
              type="submit">
        <nb-icon icon="checkmark-outline"></nb-icon>
        {{ Labels.Submit }}
      </button>
    </div>
    <div class="px-2">
      <button (click)="cancel()" class="btn btn-sm btn-rectangle btn-danger" type="button">
        <span *ngIf="showToken"><nb-icon icon="minus-outline"></nb-icon>
          {{ Labels.Close }}</span>
        <span *ngIf="!showToken"><nb-icon icon="minus-outline"></nb-icon>
          {{ Labels.Cancel }}</span>
      </button>
    </div>
  </div>
</ng-template>
