<nb-card *ngIf="saleViewModel" [nbSpinner]="saleLoading">
  <nb-card-header>
    <div class="d-flex flex-row">
      <div class="d-flex flex-row flex-grow-1">
        <div class="mr-auto align-self-center sticky-left">
          <ng-container *ngTemplateOutlet="submitButtons"></ng-container>
        </div>
      </div>
      <div class="d-flex flex-row header-label">
        <div class="ml-auto sticky-right">
          <span>{{DocTypeEnumValue.get(saleViewModel.docType)}} {{saleViewModel.saleData.saleShortInfo.docNumber}}</span>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="paymentResult">
      <ng-container [ngTemplateOutlet]="paymentResultInfo"></ng-container>
    </div>
    <app-sale-view #printSale
      [docType]="saleViewModel.docType" [viewModel]="saleViewModel"></app-sale-view>
  </nb-card-body>
  <div *ngIf="!processPayment && viewService.showPaymentHistory" class="ml-auto mb-3 mr-3">
    <ng-template [ngTemplateOutlet]="paymentHistory"></ng-template>
  </div>
  <div class="ml-auto mb-3 mr-3">
    <button (click)="pay()" *ngIf="viewService.showPayment && !processPayment" [disabled]="viewService.disablePayment"
            class="btn btn-xs btn-rectangle btn-primary"
            type="button">
      <nb-icon icon="plus-outline"></nb-icon>
      {{Labels.PayNow}}
    </button>
    <button (click)="cancelPayment()" *ngIf="viewService.showPayment && processPayment"
            class="btn btn-xs btn-rectangle btn-danger"
            type="button">
      <nb-icon icon="minus-outline"></nb-icon>
      {{Labels.Cancel}}
    </button>
  </div>
  <div *ngIf="viewService.allowedPaymentMethods.length == 0" class="ml-auto mb-3 mr-3">
    <ng-container *ngTemplateOutlet="noAllowedPaymentMethods"></ng-container>
  </div>
  <div *ngIf="processPayment">
    <ng-container [ngTemplateOutlet]="paymentInfo"></ng-container>
  </div>
</nb-card>

<ng-template #submitButtons>
  <div class="d-flex">
    <button (click)="print()" class="btn btn-sm btn-rectangle btn-success" type="button">
      <nb-icon icon="printer-outline"></nb-icon>
      {{Labels.Print}}
    </button>
    <div class="px-2">
      <button (click)="cancel()" class="btn btn-sm btn-rectangle btn-danger" type="button">
        <nb-icon icon="minus-outline"></nb-icon>
        {{Labels.Close}}
      </button>
    </div>
  </div>
</ng-template>
<ng-template #paymentInfo>
  <form (ngSubmit)="saveAndClose()" [formGroup]="getForm()" [nbSpinner]="submitLocked" nbSpinnerMessage=""
        nbSpinnerSize="xsmall" nbSpinnerStatus="success">
    <nb-card>
      <nb-card-body>
        <div class="payment-info">
          <div class="row">
            <div class="d-flex flex-column col-xl-3 col-md-4" id="paymentAmount">
              <app-extended-input [labelText]="Labels.PaymentAmount"
                                  [required]="true" [verticalMode]="true">
                <ng-container *ngIf="viewService.partialPaymentsAllowed; else paymentAmountReadonlyTemplate">
                  <app-extended-number-input [decimalMax]="2" [decimalMin]="2" [formControl]="_paymentAmount"
                                             [integerLimit]="11" [placeholder]="Labels.PaymentAmount"
                                             [prefix]="saleViewModel.currency"
                                             formControlErrorMessage
                  ></app-extended-number-input>
                </ng-container>
                <ng-template #paymentAmountReadonlyTemplate>
                  <div
                    class="mb-2">{{saleViewModel.currency}}{{(getForm().controls.paymentAmount.value || 0) |number:'1.2-2'}}</div>
                </ng-template>
              </app-extended-input>

            </div>

          </div>

          <ng-container *ngIf="viewService.showCCPaymentAmountLimitMessage(paymentMethodType)">
            <ng-template [ngTemplateOutlet]="ccPaymentAmountLimitMessage"></ng-template>
          </ng-container>

          <ng-container *ngIf="viewService.showPaymentHistory">
            <ng-template [ngTemplateOutlet]="paymentHistory"></ng-template>
          </ng-container>

          <ng-container *ngIf="ObjectHelper.isDefined(_surchargeAmount.value)">
            <app-extended-input [labelText]="Labels.Surcharge(viewService.surchargePercent)" [verticalMode]="false">
              <div class="my-auto">
                {{saleViewModel.currency}}{{_surchargeAmount.value |number:'1.2-2'}}
              </div>
            </app-extended-input>
            <app-extended-input [labelText]="Labels.Total" [verticalMode]="false">
              <div class="my-auto">
                {{saleViewModel.currency}}{{_totalIncludingSurcharge.value |number:'1.2-2'}}
              </div>
            </app-extended-input>
          </ng-container>
          <hr/>
          <div [nbSpinner]="paymentMethodsLoading">
            <app-payment-methods
              (deletePaymentMethod)="onDeletePaymentMethod($event)"
              [copyFromLabel]="Labels.CopyFromBillToAddress"
              [defaultAddress]="AddressConverterModel.convertSaleAddressTemplateDataToBillingAddress(saleViewModel.saleData.billingAddress)"
              [formControl]="_paymentMethods">
            </app-payment-methods>
          </div>
          <hr/>
          <div class="d-flex flex-column">
            <div [innerHTML]="_sanitizedAuthorizationMessage"
                 [nbSpinner]="termsOfServiceLoading || privacyStatementLoading"
                 class="mx-auto authorization-message my-3">
            </div>
            <button [disabled]="!isSubmitEnabled()" class="btn btn-xs btn-rectangle btn-danger mx-auto"
                    type="submit">
              <nb-icon icon="lock-outline"></nb-icon>
              {{Labels.Submit}}
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

  </form>
</ng-template>
<ng-template #paymentResultInfo>
  <app-customer-payment-result
    [approvalId]="paymentResult.approvalId"
    [authorizationId]="paymentResult.authorizationId"
    [currency]="viewService.currency"
    [paymentAmount]="paymentResult.paymentAmount"
    [surchargeAmount]="paymentResult.surchargeAmount"
    [totalIncludingSurcharge]="paymentResult.totalIncludingSurcharge">
  </app-customer-payment-result>
  <hr>
</ng-template>
<ng-template #paymentHistory>
  <app-sale-payment-history [justifyContentEnd]="!viewService.showPayment"
                            [saleViewModel]="saleViewModel"></app-sale-payment-history>
</ng-template>

<ng-template #ccPaymentAmountLimitMessage>
  <div class="val-message pb-2">
    {{Labels.CCPaymentAmountLimitMessage(saleViewModel.currency, saleViewModel.creditCardPaymentAmountLimit | number :'1.2-2', DocTypeEnumValue.get(viewService.docType))}}</div>
</ng-template>

<ng-template #noAllowedPaymentMethods>
  <div class="val-message pb-2">
    Please contact {{viewService.companyName}}
  </div>
</ng-template>
