<div class="email-page">
  <div class="email-page-content">
    <div class="logo-container">
      <img alt="logo" class="zenthora-logo" src="../../../../assets/zenthoralogo/logo.png">
    </div>

    <div class="content-container">
      <ng-container *ngIf="showResetForm" [ngTemplateOutlet]="resetForm"></ng-container>
      <ng-container *ngIf="showSuccessMessage" [ngTemplateOutlet]="successMessage"></ng-container>
    </div>
  </div>
</div>

<ng-template #resetForm>
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-center">
      <h3>{{Labels.PasswordManagementHeader}}</h3>
    </div>
    <div class="d-flex justify-content-center">
      <h6 class="text-hint">{{Labels.PleaseChangePasswordHint}}</h6>
    </div>
    <div class="mx-auto col-md-8 col-sm-12">
      <div class="d-flex mb-3">
        <span class="password-hint">{{Labels.PasswordHint(MIN_LENGTH.PASSWORD, MAX_LENGTH.PASSWORD)}}</span>
      </div>
      <form (ngSubmit)="saveAndClose()" [formGroup]="getForm()">
        <div class="form-group">
          <app-extended-input>
            <app-password-field [formControl]="_password"
                                [placeholder]="Labels.Password"
                                formControlErrorMessage></app-password-field>
          </app-extended-input>
        </div>
        <div class="form-group">
          <app-extended-input>
            <input [formControl]="_confirmPassword" [maxlength]="MAX_LENGTH.PASSWORD" [placeholder]="Labels.ConfirmPassword"
                   autocomplete="new-password"
                   class="form-control qbo-form-control"
                   formControlErrorMessage type="password">
          </app-extended-input>
        </div>
        <div class="form-group">
          <app-extended-input>
            <input [formControl]="_secretKey" [maxLength]="MAX_LENGTH.SECRET_KEY"
                   [placeholder]="Labels.SecretKey"
                   class="form-control qbo-form-control"/>
          </app-extended-input>
        </div>
        <div class="d-flex justify-content-center button-container">
          <button [disabled]="!isSubmitEnabled()" [nbSpinner]="submitLocked" class="btn btn-sm" nbSpinnerMessage=""
                  nbSpinnerSize="small" nbSpinnerStatus="success" type="submit">
            <nb-icon icon="checkmark-outline"></nb-icon>
            {{Labels.Submit}}
          </button>
        </div>
      </form>
    </div>
    <app-recaptcha-terms *ngIf="settingsProvider.isRecaptchaEnabled()" class="mt-4" [light]="true"></app-recaptcha-terms>
  </div>
</ng-template>

<ng-template #successMessage>
  <div class="d-flex flex-column mx-auto">
    <h3>{{Labels.SuccessMessage}}</h3>
    <div class="d-flex mt-4 justify-content-center button-container" *ngIf="customerPortalEnabled">
      <button class="btn btn-sm" (click)="redirect()">
        <nb-icon icon="checkmark-outline"></nb-icon>
        {{Labels.GoToPortal}}
      </button>
    </div>
  </div>
</ng-template>
