<div class="email-page">
  <div class="email-page-content" [nbSpinner]="loading">
    <div class="logo-container">
      <img alt="logo" class="zenthora-logo" src="../../../../../assets/zenthoralogo/logo.png">
    </div>

    <div class="content-container" [class.success]="showSuccessMessage" [class.error]="showErrorMessage">
      <ng-container *ngIf="showErrorMessage" [ngTemplateOutlet]="errorMessage"></ng-container>
      <ng-container *ngIf="showSuccessMessage" [ngTemplateOutlet]="successMessage"></ng-container>
    </div>
  </div>
</div>

<ng-template #errorMessage>
  <div class="d-flex flex-row mx-auto">
    <div class="error-message">{{Labels.ErrorMessage}}</div>
  </div>
</ng-template>
<ng-template #successMessage>
  <div class="d-flex flex-row mx-auto">
    <div class="success-message">{{Labels.SuccessMessage}}</div>
  </div>
</ng-template>
